---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Buscador from '../components/Buscador.astro';
import SubirLista from '../components/SubirLista.astro';
import Acopio from '../components/Acopio.astro';
import QueDonar from '../components/QueDonar.astro';
import Sangre from '../components/Sangre.astro';
import Telefonos from '../components/Telefonos.astro';
import Psicologia from '../components/Psicologia.astro';
import Desaparecidos from '../components/Desaparecidos.astro';
import EstoyBien from '../components/EstoyBien.astro';
import Reportar from '../components/Reportar.astro';
import Refugios from '../components/Refugios.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <div class="alert">
    🔴 Emergencia activa · Terremoto Venezuela ·<br class="alert-br"/> 24 de junio de 2026
  </div>
  <Nav />
  <Hero />
  <Buscador />
  <Refugios />
  <EstoyBien />
  <Reportar />
  <SubirLista />
  <Acopio />
  <Sangre />
  <QueDonar />
  <Telefonos />
  <Psicologia />
  <Desaparecidos />
  <Footer />
</Layout>
